In [1]:
import os

In [3]:
kaggle_json_path = os.path.expanduser("~/.kaggle/kaggle.json")

In [5]:
if os.path.exists(kaggle_json_path):
    print("kaggle.json file found successfully!")
else:
    print("Error: kaggle.json not found. Ensure it's in the correct directory.")

kaggle.json file found successfully!

In [7]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\sarah\anaconda3\lib\site-packages (1.6.17)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.10 in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\sarah\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\sarah\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\sarah\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\sarah\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sarah\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sarah\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\sarah\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [9]:
!kaggle datasets list -s "retail-orders"

ref                                                             title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
gabrielsantello/wholesale-and-retail-orders-dataset             Wholesale & Retail Orders Dataset                     3MB  2023-09-19 09:31:40           2792         44  1.0
ankitbansal06/retail-orders                                     Retail Orders                                       200KB  2024-04-13 08:31:36          11407         27  0.47058824
zusmani/pakistans-largest-ecommerce-dataset                     Pakistan's Largest E-Commerce Dataset                14MB  2021-01-19 11:42:57          12787        348  0.9705882
heeraldedhia/groceries-dataset                                  Groceries dataset                                   257KB  2020-09-17 04:36:08          67230        637  1.0
aditirai2607/super-market-dataset                               Super Market dataset                                  2MB  2024-11-26 14:04:03           1771         32  1.0
shandeep777/retail-supply-chain-sales-dataset                   Retail Supply Chain Sales Dataset                     1MB  2024-12-08 06:51:23           1109         29  0.64705884
umerkk12/online-retail-business                                 Online Retail Business                                7MB  2021-01-20 03:42:36           2504         44  0.64705884
sureshmecad/supplement-sales-prediction                         Supplement Sales Prediction                           2MB  2021-09-17 08:09:33           2270         38  0.9411765
adarsh0806/influencer-merchandise-sales                         Global Retail Sales Data: Orders, Reviews & Trends  122KB  2024-12-10 14:07:52            120          3  1.0
toxifarian/tesco-retail-store-clubcard-orders                   Tesco Retail Store Clubcard Orders                  172KB  2022-05-18 20:29:26            532          8  0.3529412
saadharoon27/superstore-dataset                                 SuperStore Dataset                                    1MB  2023-10-08 14:51:16           2003         26  0.7647059
census/business-and-industry-reports                            Business and Industry Reports                         7MB  2017-10-17 23:21:56           6800        133  0.8235294
mohamedharris/supermart-grocery-sales-retail-analytics-dataset  Supermart Grocery Sales - Retail Analytics Dataset  191KB  2022-06-12 16:14:44          17375        219  0.88235295
shelvigarg/sales-forecasting-womart-store                       Sales Forecasting WOMart Store                        2MB  2021-09-20 08:16:56           2293         26  0.8235294
datatattle/dt-mart-market-mix-modeling                          DT MART: Market Mix Modeling                         22MB  2020-09-06 16:24:07           1828         40  0.88235295
endofnight17j03/global-superstore                               Global Superstore                                     8MB  2024-02-07 04:08:06           1122         51  0.8235294
prajwal6362venom/diwali-sales                                   Diwali Sales                                        213KB  2023-04-20 08:06:13           1736         16  0.5882353
amandam1/walmart-stock-20122016                                 Walmart Daily Stock Prices 1972-2022                223KB  2022-06-25 15:57:45           1450         34  1.0
zusmani/gufhtugu-publications-dataset-challenge                 Gufhtugu Publications Dataset Challenge             954KB  2021-01-29 14:11:37           2671        415  1.0
thedevastator/online-retail-transaction-records                 Online Retail Transaction Records                     9MB  2023-12-21 02:44:20           1825         31  1.0

In [83]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [13]:
import zipfile

In [15]:
with zipfile.ZipFile("orders.csv.zip", "r") as zip_ref:
    zip_ref.extractall("C:/Users/sarah/")  # Replace with your target folder
print("File extracted successfully!")

File extracted successfully!

In [17]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sarah\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sarah\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [21]:
file_path = "C:/Users/sarah/orders.csv"

In [23]:
df = pd.read_csv(file_path)

In [25]:
print(df.head())

   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5

In [27]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [29]:
print(df.isnull().sum())

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [31]:
print(df.columns)

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [33]:
df.fillna(0, inplace=True)
print(df.isnull().sum())

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [35]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print(df.columns)

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [39]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip()

In [47]:
df.rename(columns=lambda x: x.strip(), inplace=True)
print(df.columns)

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [55]:
df['discount_rate'] = df['discount_percent'] / 100
df['discount'] = df['list_price'] * df['discount_rate']
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
print(df[['order_id', 'cost_price', 'list_price', 'discount_percent', 'discount', 'sale_price', 'profit']].head())

   order_id  cost_price  list_price  discount_percent  discount  sale_price  \
0         1         240         260                 2       5.2       254.8
1         2         600         730                 3      21.9       708.1
2         3          10          10                 5       0.5         9.5
3         4         780         960                 2      19.2       940.8
4         5          20          20                 5       1.0        19.0

   profit
0    14.8
1   108.1
2    -0.5
3   160.8
4    -1.0

In [35]:
print(df.head())  
print(df.info())  
print(df.isnull().sum())

   Order Id  order_date       ship_mode    segment        country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              city       state  postal_code region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  sale_price  quantity  discount
0    Bookcases  FUR-BO-10001798         240         260         2         2
1       Chairs  FUR-CH-10000454         600         730         3         3
2       Labels  OFF-LA-10000240          10          10         2         5
3       Tables  FUR-TA-10000577         780         960         5         2
4      Storage  OFF-ST-10000760          20          20         2         5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Id      9994 non-null   int64
 1   order_date    9994 non-null   object
 2   ship_mode     9993 non-null   object
 3   segment       9994 non-null   object
 4   country       9994 non-null   object
 5   city          9994 non-null   object
 6   state         9994 non-null   object
 7   postal_code   9994 non-null   int64
 8   region        9994 non-null   object
 9   Category      9994 non-null   object
 10  Sub Category  9994 non-null   object
 11  Product Id    9994 non-null   object
 12  cost price    9994 non-null   int64
 13  sale_price    9994 non-null   int64
 14  quantity      9994 non-null   int64
 15  discount      9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB
None
Order Id        0
order_date      0
ship_mode       1
segment         0
country         0
city            0
state           0
postal_code     0
region          0
Category        0
Sub Category    0
Product Id      0
cost price      0
sale_price      0
quantity        0
discount        0
dtype: int64

In [45]:
df.fillna(0, inplace=True)
df.fillna('Unknown', inplace=True)

In [49]:
import pandas as pd

In [51]:
data = {
    'Order Id': [1, 2, 3, 4, 5],
    'Order Date': ['2023-03-01', '2023-08-15', '2023-01-10', '2022-06-18', '2022-07-13'],
    'Ship Mode': ['Second Class', 'Second Class', 'Second Class', 'Standard Class', 'Standard Class'],
    'Segment': ['Consumer', 'Consumer', 'Corporate', 'Consumer', 'Consumer'],
    'Country': ['United States'] * 5,
    'City': ['Henderson', 'Henderson', 'Los Angeles', 'Fort Lauderdale', 'Fort Lauderdale'],
    'State': ['Kentucky', 'Kentucky', 'California', 'Florida', 'Florida'],
    'Postal Code': [42420, 42420, 90036, 33311, 33311],
    'Region': ['South', 'South', 'West', 'South', 'South'],
    'Category': ['Furniture', 'Furniture', 'Office Supplies', 'Furniture', 'Office Supplies'],
    'Sub Category': ['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage'],
    'Product Id': ['FUR-BO-10001798', 'FUR-CH-10000454', 'OFF-LA-10000240', 'FUR-TA-10000577', 'OFF-ST-10000760'],
    'cost price': [240, 600, 10, 780, 20],
    'List Price': [260, 730, 10, 960, 20],
    'Quantity': [2, 3, 2, 5, 2],
    'Discount Percent': [2, 3, 5, 2, 5]
}

In [53]:
df = pd.DataFrame(data)

In [55]:
df['discount_rate'] = df['Discount Percent'] / 100
df['discount'] = df['List Price'] * df['discount_rate']
df['sale_price'] = df['List Price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost price']

In [57]:
orders_df = df[['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 
                'City', 'State', 'Postal Code', 'Region', 'Product Id']]

products_df = df[['Product Id', 'Category', 'Sub Category', 'cost price', 
                  'List Price', 'discount_rate', 'discount', 'sale_price', 'profit']].drop_duplicates()

In [59]:
import sqlite3

In [61]:
orders_df.to_sql('orders', conn, if_exists='replace', index=False)
products_df.to_sql('products', conn, if_exists='replace', index=False)

print("Orders Table:\n", orders_df.head())
print("Products Table:\n", products_df.head())

Orders Table:
    Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region       Product Id
0        Henderson    Kentucky        42420  South  FUR-BO-10001798
1        Henderson    Kentucky        42420  South  FUR-CH-10000454
2      Los Angeles  California        90036   West  OFF-LA-10000240
3  Fort Lauderdale     Florida        33311  South  FUR-TA-10000577
4  Fort Lauderdale     Florida        33311  South  OFF-ST-10000760
Products Table:
         Product Id         Category Sub Category  cost price  List Price  \
0  FUR-BO-10001798        Furniture    Bookcases         240         260
1  FUR-CH-10000454        Furniture       Chairs         600         730
2  OFF-LA-10000240  Office Supplies       Labels          10          10
3  FUR-TA-10000577        Furniture       Tables         780         960
4  OFF-ST-10000760  Office Supplies      Storage          20          20

   discount_rate  discount  sale_price  profit
0           0.02       5.2       254.8    14.8
1           0.03      21.9       708.1   108.1
2           0.05       0.5         9.5    -0.5
3           0.02      19.2       940.8   160.8
4           0.05       1.0        19.0    -1.0

In [1]:
pip install sqlalchemy pandas pyodbc

Requirement already satisfied: sqlalchemy in c:\users\sarah\anaconda3\lib\site-packages (2.0.34)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\sarah\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: pyodbc in c:\users\sarah\anaconda3\lib\site-packages (5.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sarah\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sarah\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sarah\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\sarah\anaconda3\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sqlalchemy import create_engine
import pandas as pd

In [104]:
from sqlalchemy import create_engine, text

In [106]:
username = 'root'    
password = 'Maria'    
server = 'localhost'  
database = 'retailorders'

In [108]:
connection_string = f"mysql+mysqlconnector://{username}:{password}@{server}/{database}"

In [110]:
engine = create_engine(connection_string)

In [112]:
try:
    with engine.connect() as connection:
        print("Connection to MySQL successful!")
except Exception as e:
    print(f"Connection failed: {e}")

Connection to MySQL successful!

In [114]:
data = pd.read_csv('orders.csv')

In [116]:
data.columns = data.columns.str.lower().str.replace(' ', '_')

In [118]:
table_name = 'orders'
data.to_sql(table_name, engine, if_exists='replace', index=False)
print(f"Data loaded into table '{table_name}' successfully!")

Data loaded into table 'orders' successfully!

In [132]:
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [134]:
connection_string = 'mysql+mysqlconnector://root:Maria@localhost/retail_order'
engine = create_engine(connection_string)
Session = sessionmaker(bind=engine)
session = Session()

In [136]:
Base = declarative_base()

C:\Users\sarah\AppData\Local\Temp\ipykernel_16884\4196137762.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
class Product(Base):
    __tablename__ = 'products'
    product_id = Column(Integer, primary_key=True)
    product_name = Column(String)
    category = Column(String)
    subcategory = Column(String)
    cost_price = Column(Float)
    list_price = Column(Float)
    quantity = Column(Integer)
    profit_margin = Column(Float)
    region = Column(String)

In [140]:
class Order(Base):
    __tablename__ = 'orders'
    order_id = Column(Integer, primary_key=True)
    order_date = Column(Date)
    product_id = Column(Integer, ForeignKey('products.product_id'))  # Foreign Key
    sale_price = Column(Float)
    discount_percent = Column(Float)
    quantity_ordered = Column(Integer)
    city = Column(String)
    state = Column(String)
    region = Column(String)
    total_revenue = Column(Float)

In [146]:
import mysql.connector

In [170]:
connection = mysql.connector.connect(
    host='localhost', 
    user='root',           
    password='Maria',    
    database='retailorders'
)
cursor = connection.cursor()

In [176]:
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

In [178]:
if ('products',) in tables:
    print("The 'products' table exists.")
else:
    print("The 'products' table does not exist.")

The 'products' table does not exist.

In [180]:
import mysql.connector

In [186]:
connection = mysql.connector.connect(
    host='localhost',         
    user='root',              
    password='Maria',         
    database='retailorders' 
)
cursor = connection.cursor()

In [188]:
create_table_query = """
CREATE TABLE IF NOT EXISTS products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    category VARCHAR(100),
    sub_category VARCHAR(100),
    list_price DECIMAL(10, 2),
    cost_price DECIMAL(10, 2),
    quantity_in_stock INT,
    supplier_id INT
);
"""

In [190]:
cursor.execute(create_table_query)

In [192]:
connection.commit()

In [194]:
cursor.close()
connection.close()

print("The 'products' table has been created.")

The 'products' table has been created.

In [9]:
import mysql.connector

In [11]:
connection = mysql.connector.connect(
    host='localhost',        
    user='root',           
    password='Maria',        
    database='retailorders'   
)

cursor = connection.cursor()

In [13]:
create_orders_table_query = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    order_date DATE NOT NULL,
    quantity_ordered INT NOT NULL,
    sale_price DECIMAL(10, 2),
    discount_percent DECIMAL(5, 2),
    total_price DECIMAL(10, 2),
    product_id INT,
    city VARCHAR(100),
    region VARCHAR(100),
    segment VARCHAR(100),
    customer_id INT,
    order_status VARCHAR(100),
    ship_mode VARCHAR(100),
    payment_method VARCHAR(100),
    shipping_cost DECIMAL(10, 2),
    shipping_address VARCHAR(255),
    postal_code VARCHAR(20),
    country VARCHAR(100),
    state VARCHAR(100),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""

In [15]:
cursor.execute(create_orders_table_query)

In [17]:
connection.commit()

In [19]:
cursor.close()
connection.close()

print("The 'orders' table has been created.")

The 'orders' table has been created.

In [21]:
import mysql.connector

In [29]:
connection = mysql.connector.connect(
    host='localhost',         
    user='root',             
    password='Maria',         
    database='retailorders'  
)

cursor = connection.cursor()

In [31]:
insert_products_data_query = """
INSERT INTO products (product_id, product_name, category, sub_category, list_price, cost_price)
VALUES
('FUR-BO-10001798', 'Bookcases', 'Furniture', 'Bookcases', 260, 240),
('FUR-CH-10000454', 'Chairs', 'Furniture', 'Chairs', 730, 600),
('OFF-LA-10000240', 'Labels', 'Office Supplies', 'Labels', 10, 10),
('FUR-TA-10000577', 'Tables', 'Furniture', 'Tables', 960, 780),
('OFF-ST-10000760', 'Storage', 'Office Supplies', 'Storage', 20, 20),
('FUR-FU-10001889', 'Furnishings', 'Furniture', 'Furnishings', 30, 30),
('FUR-FU-10000747', 'Furnishings', 'Furniture', 'Furnishings', 90, 70),
('TEC-PH-10003645', 'Phones', 'Technology', 'Phones', 260, 220),
('OFF-PA-10004041', 'Paper', 'Office Supplies', 'Paper', 30, 30),
('OFF-AP-10002684', 'Appliances', 'Office Supplies', 'Appliances', 240, 210);
"""
cursor.execute(insert_products_data_query)
connection.commit()
print("Data inserted successfully into 'products' table")

Data inserted successfully into 'products' table

In [33]:
insert_orders_data_query = """
INSERT INTO orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, product_id, quantity, discount_percent)
VALUES
(1, '2023-03-01', 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'FUR-BO-10001798', 2, 2),
(2, '2023-08-15', 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'FUR-CH-10000454', 3, 3),
(3, '2023-01-10', 'Second Class', 'Corporate', 'United States', 'Los Angeles', 'California', 90036, 'West', 'OFF-LA-10000240', 2, 5),
(4, '2022-06-18', 'Standard Class', 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', 33311, 'South', 'FUR-TA-10000577', 5, 2),
(5, '2022-07-13', 'Standard Class', 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', 33311, 'South', 'OFF-ST-10000760', 2, 5),
(9990, '2023-02-18', 'Second Class', 'Consumer', 'United States', 'Miami', 'Florida', 33180, 'South', 'FUR-FU-10001889', 3, 4),
(9991, '2023-03-17', 'Standard Class', 'Consumer', 'United States', 'Costa Mesa', 'California', 92627, 'West', 'FUR-FU-10000747', 2, 4),
(9992, '2022-08-07', 'Standard Class', 'Consumer', 'United States', 'Costa Mesa', 'California', 92627, 'West', 'TEC-PH-10003645', 2, 2),
(9993, '2022-11-19', 'Standard Class', 'Consumer', 'United States', 'Costa Mesa', 'California', 92627, 'West', 'OFF-PA-10004041', 4, 3),
(9994, '2022-07-17', 'Second Class', 'Consumer', 'United States', 'Westminster', 'California', 92683, 'West', 'OFF-AP-10002684', 2, 3);
"""

cursor.execute(insert_orders_data_query)
connection.commit()
print("Data inserted successfully into 'orders' table")

Data inserted successfully into 'orders' table

In [1]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\sarah\anaconda3\lib\site-packages (1.37.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: altair<6,>=4.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\sarah\anaconda3\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\sarah\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sarah\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: toolz in c:\users\sarah\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\sarah\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sarah\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sarah\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarah\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\sarah\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\sarah\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\sarah\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sarah\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\sarah\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\sarah\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\sarah\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\sarah\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\sarah\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\sarah\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sarah\anaconda3\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sarah\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarah\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sarah\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\users\sarah\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\sarah\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\sarah\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarah\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sarah\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.